parameters:
    level: 8
    treatPhpDocTypesAsCertain: false
    tmpDir: 'tmp/cache/phpstan'
    bootstrapFiles:
        - tests/bootstrap.php
    scanFiles:
        - tests/test_app/src/AppControllerAlias.php
    paths:
        - src/
