name: Build and push assets

on:
  workflow_dispatch:
  push:
    tags: [ '*' ]
    branches:
      - '*'
      - '!*-built'
    paths:
      - '**workflows/build.yml' # the workflow file itself
      - '**.js'
      - '**package-lock.json'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:
  build-assets:
    uses: inpsyde/reusable-workflows/.github/workflows/build-and-push-assets.yml@main
    with:
      ASSETS_TARGET_PATHS: "./webroot/dist"
      BUILT_BRANCH_NAME: ${{ github.ref_name }}-built
    secrets:
      GITHUB_USER_EMAIL: ${{ secrets.DEPLOYBOT_EMAIL }}
      GITHUB_USER_NAME: ${{ secrets.DEPLOYBOT_USER }}
